@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p><strong>@ViewData["Title"]</strong></p>
    <p><strong>Mã Sinh Viên:</strong> 2310900049</p>
    <p><strong>Họ và Tên:</strong> Phạm Đỗ Quốc Khánh</p>
    <p><strong>Email:</strong> amumu0109@gmail.com</p>
    <p><strong>Điện Thoại:</strong> <a href="tel:0869339401" title="Gọi số điện thoại">0869339401</a></p>
    <p><strong>Lớp:</strong> K23CNT1</p>Add commentMore actions
</div>