﻿@{
    ViewData["Title"] = "Thông Tin Sinh Viên";
}


<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>
    <ul class="list-group mb-4 alert alert-danger">
        <li class="list-group-item">Họ và Tên: Phạm Đỗ Quốc Khánh</li>
        <li class="list-group-item">Lớp: K23CNT1</li>
        <li class="list-group-item">Mã Sinh Viên: 2310900049</li>
        <li class="list-group-item">Email: amumu0109@gmai.com</li>
        <li class="list-group-item">Số Điện Thoại: 08969339401</li>
    </ul>
</div>